*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-image: linear-gradient(black ,grey);
    display:flex;
    font-size: 1.2rem;
    min-height: 800px;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    max-width:600px;
    width:90%;
    background-color: transparent;
    border: 0.25em solid white;
    border-radius: 1rem;
    margin:0 auto;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
    padding:0 0.5rem;
}

.list-item{
    list-style: none;
    margin-top:0.25rem;
    background-color: #fff;
}

h1{
    color:#fff;
    font-size: 2.7rem;
}